.componentButton {
  width: 3rem;
  padding: 7px 5px;
  color: #777;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color, .3s;

  &:hover{
    color: #fff;
    background-color: #7a9493;
    border: 1px solid #7a9493;
    transition: background-color, .3s;
  }
}
