.componentDropdown {
  position: relative;
  color: #888;

  button{
    min-width: 10rem;
    &.isOpen{
      color: #fff;
      background-color: #7a9493;
    }
  }

  .componentDropdownModal{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-top: .2rem;
    right: 0;
    border: 1px solid #888;
    background-color: #fff;

    & ul {
      margin: 0;
      padding: .5rem 0;
    }
    & li {
      cursor: pointer;
      list-style: none;
      padding: .2rem .8rem;
      &:hover,
      &:focus,
      &.active{
        color: #fff;
        background-color: #7a9493;
      }
    }
  }
}
